version: '3.1'

services:

  aims:
    image: aims.ncr.fin-ntruss.com/welgram/aims:latest
    container_name: aims.nuzal.co.kr
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    restart: always
    volumes:
      - ./logs:/var/lib/mysql
    environment:
      ACTIVE_PROFILE: product
    ports:
      - 1180:80
      
#  db:
#    image: mysql:8.0
#    container_name: aims-db.nuzal.co.kr
#    command:
#      - --default-authentication-plugin=mysql_native_password
#      - --character-set-server=utf8mb4
#      - --collation-server=utf8mb4_unicode_ci
#    restart: always
#    volumes:
#      - ./init-script:/docker-entrypoint-initdb.d
#      - ./data:/var/lib/mysql
#    environment:
#      MYSQL_ROOT_PASSWORD: "${MY_SQL_PASSWORD}"
#      MYSQL_DATABASE: aims
#    ports:
#      - 13307:3306
